In [13]:
import mysql.connector

# 建立数据库连接
cnx = mysql.connector.connect(
    host='localhost',
    user='zzj',
    password='@zzj121',
    database='T_newsRecommended'
)

# 创建游标对象
cursor = cnx.cursor()

# 执行 SQL 查询语句
query = "SELECT * FROM user_to_news"
cursor.execute(query)

# 获取查询结果
result = cursor.fetchall()

# 打印结果
for row in result:
    print(row)

(0, 1, '[12,15]')

In [15]:
# 插入数据的 SQL 语句
query = "INSERT INTO user_to_news (id,user_id, news_id) VALUES ( %s,%s, %s)"

# 要插入的数据
data = (1,2, '3')

# 执行插入操作
cursor.execute(query, data)

# 提交事务
cnx.commit()

In [16]:
# 关闭游标和数据库连接
cursor.close()
cnx.close()